.editBook-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    background: #E5ECE9;
    height: 100vh;
}

.editBook-container .editBook-content{
    width: 1000px;
    margin: 40px auto;
    height: 500px;
    background-color: white;
    display: flex;
    flex-direction:row;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    border-radius: 20px;
}

.editBook-container .editBook-content .img-preview{
    width: 333.4px;
    height: auto;
    background-size: cover;
}

.editBook-container .editBook-content .form-inputs{
    display: flex; 
    flex-direction: column;
    width: 656px;
    padding: 20px;
    overflow-y: scroll;
    margin: 6px;
}

.editBook-container .editBook-content .form-inputs .inputs-category h3{
    color: #069C56;
}

.editBook-container .editBook-content .form-inputs .inputs-category p{
    color: #504f4f;
    font-size: 14px;
    margin-top: 4px;
}

.editBook-container .editBook-content form{
    display: flex;
    flex-direction: column;
}

.editBook-container .editBook-content form .input{
    height: 20px; /* Ajuste conforme necessário */
    box-sizing: border-box; /* Inclui padding e border na largura e altura */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

.editBook-container .editBook-content form .input label{
    position: absolute;
    top: 14px;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none; /* Evita que o label seja clicável */
    transition: all 0.3s ease;
    color: #504f4f;
    font-size: 12px;
    font-weight: 400; /* Ajuste conforme necessário */
}

.editBook-container .editBook-content form .input input{
    border: none; /* Remove todas as bordas */
    border-bottom: 1px solid #ACA6A6;
    height: 60px;
    padding: 28px 10px 10px 10px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}


.editBook-container .editBook-content form input:focus{
    border-color: #069C56;
    color: #000000;
    background-color: #f1f1f1;
}


.editBook-container .editBook-content form .input input.error{
    border-color: red;
}

.editBook-container .editBook-content form .error-p {
    margin-top: 4px;
    color: red;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    padding: 0px 0 0 4px;
}


.editBook-container .editBook-content .form-inputs .input{
    height: 20px; /* Ajuste conforme necessário */
    box-sizing: border-box; /* Inclui padding e border na largura e altura */
    position: relative;
}

.editBook-container .editBook-content .form-inputs .input label{
    position: absolute;
    top: 14px;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none; /* Evita que o label seja clicável */
    transition: all 0.3s ease;
    color: #504f4f;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400; /* Ajuste conforme necessário */
}

.editBook-container .editBook-content .form-inputs .input input{
    border: none; /* Remove todas as bordas */
    border-bottom: 1px solid #ACA6A6;
    height: 60px;
    padding: 28px 10px 10px 10px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}


.editBook-container .editBook-content .form-inputs input:focus{
    border-color: #069C56;
    color: #000000;
    background-color: #f1f1f1;
}


.editBook-container .editBook-content .form-inputs .input input.error{
    border-color: red;
}

.editBook-container .editBook-content .form-inputs .error-p {
    margin-top: 4px;
    color: red;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    padding: 0px 0 0 4px;
}

/* Customização Select */
.editBook-container .editBook-content .form-inputs select{
    width: 280px;
    height: 40px;
    border: none; /* Remove todas as bordas */
    border-bottom: 1px solid #ACA6A6;
    color: #333;
    outline: none;
}

.editBook-container .editBook-content .form-inputs select:focus{
    border-color: #069C56;
    color: #000000;
    background-color: #f1f1f1;
}

.editBook-container .editBook-content .form-inputs select option{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.editBook-container .editBook-content .form-inputs button{
    display: flex;
    flex-direction: rows;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #069C56; /* sempre fazer botoes assim */
    width: 300px;
    height: 30px;
    align-self: center;
    font-weight: 100;
    font-size: 18px;
    color: #069C56;
    cursor: pointer;
    background-color: white;
}

.editBook-container .editBook-content button:hover{
    color: white;
    background-color: #069C56;
}

.editBook-container .editBook-content .form-inputs .submit-button2{
    color: #D3212C;
    border: 1px solid #D3212C;
}

.editBook-container .editBook-content .submit-button2:hover{
    color: white;
    background-color: #D3212C;
}



