/* Container principal dos cards */
.cards-container {
    display: flex;
    justify-content: center; /* Centraliza os cards horizontalmente */
}

/* Estilo dos cards */
.bookedit-container {
    width: 220px; /* Reduz a largura do card */
    height: 400px; /* Reduz a altura do card */
    padding: 10px 0 0 0;
    border-radius: 6px;
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    transition: box-shadow 0.3s; /* Adiciona transição para suavizar o efeito de sombra */

}

.bookedit-container {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6); /* Adiciona o efeito de drop shadow */
}

/* Estilo da imagem do card */
.bookedit-container .book-img {
    width: 100%; /* Largura da imagem ajustada para 100% do contêiner */
    height: auto; /* Mantém a proporção da altura da imagem */
    max-width: 196px; /* Define a largura máxima da imagem */
    cursor: pointer;
}

/* Container de opções (botões) */
.bookedit-container .options {
    background-color: white;
    align-items: center;
    display: flex;
    justify-content: center;
}

/* Estilo do botão de comprar */
.bookedit-container .options button {
    font-family: 'Inter', sans-serif;
    width: 120px; /* Aumenta a largura do botão */
    height: 36px; /* Aumenta a altura do botão */
    font-style: italic;
    border-radius: 10px;
    border: 1px solid #FF681E;
    background-color: transparent;
    color: #FF681E;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Adiciona transição */
}

.bookedit-container .options button:hover {
    background-color: #FF681E;
    color: white;
}

/* Estilo das informações do livro */
.book-info {
    text-align: center;
    margin: 10px 0;
}

.book-info h1 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px; /* Aumenta o tamanho do texto */
    line-height: 20px;
    text-align: center;
    color: #0B0B0B;
}

.book-info h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px; /* Aumenta o tamanho do texto */
    line-height: 12px;
    text-align: center;
    color: #676767;
}

/* Novo estilo para o botão "Comprar" quando o card está em hover */
.book-container:hover .buy-book {
    background-color: #FF681E;
    color: white;
}
