.mysales-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    background: #E5ECE9;
    height: 100vh;
}

.mysales-container .mysales-content {
    width: 1100px;
    margin: 40px auto;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    padding: 0 0 60px 0;
}

.mysales-container .mysales-content .mysales-title {
    display: flex;
    flex-direction: row;
    font-size: 24px;
    font-weight: bold;
    gap: 1%;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
}

.mysales-container .mysales-content .mysales-items {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.mysales-container .mysales-content .mysales-columns {
    display: flex;
    border-top: 1px solid black;
    border-bottom: 1px solid rgb(67, 67, 67);
    color: #069C56;
    font-style: italic;
    margin-top: 3%;
    margin-left: 5%;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 4px 50px 4px 6px;
}
.mysales-columns .mysales-header-content{
    width: 90%;
    display: flex;
    margin-left: 15px;
    justify-content: space-between;
}

.mysales-columns .mysales-header-content span{
    text-align: center;
}

.mysales-container .mysales-content .mysales-items .mysales-information {
    display: flex;
    font-style: italic;
    margin-top: 3%;
    width: 100%;
    margin-left: 60px;
    justify-content: space-between;
    
}

.mysales-container .mysales-content .mysales-information-content{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.mysales-container .mysales-content .mysales-items .mysales-information p {
    font-size: 14px;
    color:#272727;
    text-align: center;
    width: 200px;
    margin: auto;
}

.mysales-container .mysales-content .mysales-information img{
    margin-right: 60px;
}

/* Estilo para o ícone de toggle */
.mysales-information img {
    transition: transform 0.3s ease; /* Transição suave */
    cursor: pointer;
}

/* Quando o item estiver aberto, o ícone rotaciona 180 graus */
.mysales-information img.rotated {
    transform: rotate(180deg);
}

/* Transição suave para a div que expande */
.mysales-details {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease; /* Suaviza a expansão e contração */
    border-bottom: 1px solid rgb(158, 158, 158);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 0px 10px 0px;
    margin-left: 6%;
    width: 100%;
    align-items: left;
}

/* Quando a div está aberta */
.mysales-details.open {
    max-height: 500px; /* Define uma altura máxima para a animação */
    border-bottom: 1px solid rgb(158, 158, 158);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 0px 10px 0px;
    margin-left: 6%;
    width: 100%;
    align-items: left;
}

.mysales-container .mysales-content .mysales-items.open {
    border-bottom: 0.2px rgb(158, 158, 158);
}

.mysales-container .mysales-content .mysales-items .mysales-products{
    padding: 10px 0px 10px 0;
    margin-top: 1%;
    display: flex;
    flex-direction: row;
}

.mysales-container .mysales-content form input{
    border: 1px solid #069C56;
    border-radius: 10px;
    margin-right: 16px;
    height: 26px;
    text-align: center;
    width: 100px;
}

.mysales-container .mysales-content form label{
    text-align: center;
    margin-right: 6px;
}

.mysales-container .mysales-content form{
    margin-left: 56px;
    margin-top: 30px;
}

.mysales-container .mysales-content form button{
    border: 1px solid #069C56;
    background: white;
    border-radius: 6px;
    margin-right: 16px;
    height: 26px;
    text-align: center;
    width: 100px;
    color:#069C56;
    cursor: pointer;
}

.mysales-container .mysales-content form button:hover{
    background: #069C56;
    color:white
}


.mysales-queue{
    margin: 20px auto;
}