.fav-container {
    display: flex;
    flex-direction: column;
}

.fav-container h2{
    margin-top: 5px;
}

.fav-container .book-container{
    margin: auto; /* deixa centralizado */
}

.banner {
    width: 100%;
}

.footer {
    width: 100%;
}