.book-container-group{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    margin-left: 90px;
}

.cards-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5%;
    margin: 20px;
}

.cards-group > * {
    margin-bottom: 30px; /* Ajuste conforme necessário */
}