*{
    padding: 0;
    margin: 0;
    
}

.login-container{
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    justify-content: center;
    justify-content: center;
}

.login-container .content-side{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-container .content-side .page-content{
    display: flex;
    flex-direction: column;
    margin-left: 120px;
    margin-right: 90px;
    padding: 30px 0 0 0px;
    gap: 20px;
}


.login-container .img-side{
    display: flex;
    justify-content:flex-end;
    width: 50%;
    margin: 0;
}

.login-container .img-side .books{
    width: 90%;
}

.login-container .content-side .logo{
    display: flex;
    flex-direction: rows;
    align-items: center;
    padding: 48px 0 0 120px;
    cursor: pointer;
}

.login-container .content-side .logo h2{
    font-style: italic;
    font-weight: 700;
    color: #069C56;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    line-height: 20px;
    text-align: left;
    padding-left: 8px;
}

.login-container .content-side .page-content h3{
    font-weight: 500;
    color:black;
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    line-height: 30px;
    text-align: left;
    align-self: center; /*alinha ele no centro da iv q ele tA*/
}

.login-container .content-side .page-content h1{
    font-weight: 500;
    color:black;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    align-self: center; /*alinha ele no centro da iv q ele tA*/
}

.login-container .content-side .page-content .inputs{
    display: flex; 
    gap: 32px; /*so funciona com o flex ou grid*/
    flex-direction: column;
    padding: 1px 0 0 0;
}

.login-container .content-side .page-content .inputs .emailInput{
    display: flex;
    flex-direction:column;
    width: 100%;
    gap: 4px;
}

.login-container .content-side .page-content .inputs .emailInput label{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 1;
    padding-left: 4px;
}

.login-container .content-side .page-content .inputs .emailInput input{
    border-radius: 6px;
    border: solid 1px #ACA6A6;
    background-color: #E4E4E4;
    height: 42px;
    padding: 10px 14px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}

.login-container .content-side .page-content .inputs .senhaInput{
    display: flex;
    flex-direction:column;
    width: 100%;
    gap: 4px;
}

.login-container .content-side .page-content .inputs .senhaInput label{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 1;
    padding-left: 4px;
}

.login-container .content-side .page-content .inputs .senhaInput input{
    border-radius: 6px;
    border: solid 1px #ACA6A6;
    background-color: #E4E4E4;
    height: 42px;
    padding: 10px 14px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}

.login-container .content-side .page-content button{
    margin-top: 20px;
    border-radius: 8px;
    border: 2px solid #069C56; /* sempre fazer botoes assim */
    width: 300px;
    height: 45px;
    align-self: center;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: #069C56;
    cursor: pointer;
    background-color: white;
}

.login-container .content-side .page-content button:hover{
    margin-top: 20px;
    border-radius: 8px;
    border: 2px solid #069C56; /* sempre fazer botoes assim */
    width: 300px;
    height: 45px;
    align-self: center;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: white;
    cursor: pointer;
    background-color: #069C56;
}

.login-container .content-side .page-content u{
    align-self: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #069C56;
    cursor: pointer;
}
