.login-container{
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    justify-content: center;
    justify-content: center;
}

.login-container .content-side{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-container .content-side .page-content{
    display: flex;
    flex-direction: column;
    margin-left: 120px;
    margin-right: 60px;
    padding: 30px 0 0 0px;
}

.login-container .img-side{
    display: flex;
    justify-content:flex-end;
    width: 50%;
    margin: 0;
}

.login-container .img-side .books{
    width: 90%;
}

.login-container .content-side .logo{
    display: flex;
    flex-direction: rows;
    align-items: center;
    padding: 48px 0 0 120px;
    cursor: pointer;
}

.login-container .content-side .logo h2{
    font-style: italic;
    font-weight: 700;
    color: #069C56;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    line-height: 20px;
    text-align: left;
    padding-left: 8px;
}

.login-container .content-side .page-content h1{
    font-weight: 500;
    color:black;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    line-height: 20px;
    text-align: left;
    align-self: center; /*alinha ele no centro da iv q ele tA*/
}

.login-container .content-side .page-content h2{
    font-weight: 500;
    color:black;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    line-height: 30px;
    text-align: left;
}

.login-container .content-side .page-content h3{
    font-weight: 500;
    color:black;
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    line-height: 30px;
    text-align: left;
    align-self: center; /*alinha ele no centro da iv q ele tA*/
}

.login-container .content-side .page-content .inputs{
    display: flex; 
    gap: 10px; /*so funciona com o flex ou grid*/
    flex-direction: column;
    padding: 1px 0 0 0;
}

.login-container .content-side .page-content .inputs .input{
    width: 100%;
    height: 80px; /* Ajuste conforme necessário */
    box-sizing: border-box; /* Inclui padding e border na largura e altura */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

.login-container .content-side .page-content .inputs .input label{
    position: absolute;
    top: 14px;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none; /* Evita que o label seja clicável */
    transition: all 0.3s ease;
    color: #504f4f;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 400; /* Ajuste conforme necessário */
}

.login-container .content-side .page-content .inputs .input input{
    border: none; /* Remove todas as bordas */
    border-bottom: 1px solid #ACA6A6;
    height: 60px;
    padding: 28px 10px 10px 10px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    width: 100%;
}


.login-container .content-side .page-content .inputs .input input:focus{
    border-color: #069C56;
    color: #000000;
    background-color: #f1f1f1;
}


.login-container .content-side .page-content .inputs .input input.error{
    border-color: red;
}

.login-container .content-side .page-content .error-p {
    margin-top: 4px;
    color: red;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    padding: 0px 0 0 4px;
}

.login-container .content-side .page-content button{
    display: flex;
    flex-direction: rows;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #069C56; /* sempre fazer botoes assim */
    width: 300px;
    height: 45px;
    align-self: center;
    font-weight: 100;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: #069C56;
    cursor: pointer;
    background-color: white;
}

.login-container .content-side .page-content button:hover{
    border-radius: 8px;
    width: 300px;
    height: 45px;
    align-self: center;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: white;
    cursor: pointer;
    background-color: #069C56;
}

.login-container .content-side .page-content u{
    align-self: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #069C56;
    cursor: pointer;
}
