.navbar {
    width: 98%;
    height: 62px;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    margin:auto;
    background: #006B3D;
    border-radius: 15px;
}

.right-side {
    width: 274px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    height: 100%;
}

.cart-icon {
    color: #fff;
    cursor: pointer;
}

.heart,
.book {
    color: #fff;
    cursor: pointer;

}

.welcome {
    margin-top: 1px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.account-icon {
    color: #fff;
    cursor: pointer;
}

.submenu-container .chevron{
    color: #fff;
    cursor: pointer;
}

.container-logo {
    width: 33%;
}

.nav-logo {
    text-align: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 60px;
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    cursor: pointer;
}

.search-box {
    margin-right: 63px;
    align-items: center;
    width: 33%;
    height: 40px;
    display: flex;
    background: transparent;
    border: 1px;
    border-style: solid;
    border-color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
}

.search-box input {
    flex: 1;
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 18px;
    max-width: 690px;
}

.submenu-container {
    position: relative; /* relativo somente ao navbar */
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 2px 4.5px;
    justify-content: center;
}

.submenu {
    position: absolute;
    /* Altere para absolute */
    top: 100%;
    /* Posicione abaixo do ícone */
    list-style: none;
    /*tira os pontinhos */
    padding: 0;
    margin: 1rem;
    width: 128px;
    height: 108px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 1;
}

.submenu li {
    text-align: center;
    padding: 10px 20px;
    /* Espaçamento interno dos itens do submenu */
    transition: background-color 0.3s ease;
    /* Efeito de transição suave ao passar o mouse */
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: solid 0.1px 10px;
    font-size: 14px;

}

.submenu li:hover {
    /* Cor de fundo quando o item do submenu é destacado */
    background-color: #f0f0f0;
    color: #069C56;
}

.submenu li:last-child{
    border-radius: 4px;
}

.book-submenu {
    position: absolute;
    /* Altere para absolute */
    top: 100%;
    /* Posicione abaixo do ícone */
    list-style: none;
    /*tira os pontinhos */
    padding: 0;
    margin: 1rem;
    width: 146px;
    height: 144px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 1;
}

.book-submenu li {
    text-align: center;
    padding: 10px 20px;
    /* Espaçamento interno dos itens do submenu */
    transition: background-color 0.3s ease;
    /* Efeito de transição suave ao passar o mouse */
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: solid 0.1px 10px;
    font-size: 14px;

}

.book-submenu li:hover {
    /* Cor de fundo quando o item do submenu é destacado */
    background-color: #f0f0f0;
    color: #069C56;
}

.book-submenu li:last-child{
    border-radius: 4px;
}

