*{
    padding: 0;
    margin: 0;
}

.opcoes-container{
    background: linear-gradient(255.96deg, rgba(0, 107, 61, 0.9) 0%, rgba(6, 156, 86, 0.9) 38%, rgba(255, 152, 14, 0.9) 100%);
}

.opcoes-container .buttons {
    background: linear-gradient(255.96deg, rgba(0, 107, 61, 0.9) 0%, rgba(6, 156, 86, 0.9) 38%, rgba(255, 152, 14, 0.9) 100%);
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Divide a grid em duas colunas de tamanho igual */
    gap: 30px; /* Espaçamento entre as células da grid */
    padding: 50px 160px 50px 160px;
}

.opcoes-container .buttons button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    height:240px;
    border-radius: 30px;
    border: 1px solid #FF681E;
    font-size: 28px;
    font-weight: lighter;
    gap: 14px;
    color: #FF681E;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

.opcoes-container .buttons button:hover{
    background-color: #FF681E;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

