.inicio-container {
    background-color: #E5ECE9;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    padding: 0;
}

.inicio-container .welcome-container {
    height: 500px;
    width: 100%;
    background: linear-gradient(255.96deg, rgba(0, 107, 61, 0.9) 0%, rgba(6, 156, 86, 0.9) 38%, rgba(255, 152, 14, 0.9) 100%);;
}

 .banner {
    top: 286px;
    width: auto;
}

.filmes-image {
    top: 68.13%;
    bottom: 21.17%;
    top: 0; /* Alinha a imagem ao topo do contêiner pai */
    right: 0; /* Alinha a imagem à direita do contêiner pai */
    width: 100%; /* Define a largura da imagem */
}

.inicio-container h2 {
    font-family: 'Inter Light', sans-serif;
    margin-top: 5px; /* Adiciona margem acima do título */
    text-align: center;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    gap: 3;
    justify-content: left;
    margin: 30px;

}
