.card-container{
    width: 190px; /* Reduz a largura do card */
    height: 280px; /* Reduz a altura do card */
    border-radius: 4px 20px 20px 4px;
    align-items: center;
    display: flex;
    padding: 0px;
    flex-direction: column;
    transition: box-shadow 0.3s; /* Adiciona transição para suavizar o efeito de sombra */
    justify-content: center; /* Centraliza os cards horizontalmente */
    position: relative;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 30px;
    margin-left: 20px;
}

.card-container .book-image{
    overflow: hidden;
    object-fit: cover;
    border-radius: 4px 20px 20px 4px;
    width: 100%;
    transition: transform 0.3s ease;
    overflow: hidden;
}

.card-container:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
    
}

.card-container .book-image:hover{
    transform: scale(1.16);
}


.card-container .book-info{
    position: absolute;
    display: flex;
    flex-direction: row;
    border-radius: 0px 26px 26px 4px;
    bottom: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 8.89%, rgba(0, 0, 0, 0.538696) 55%, rgba(0, 0, 0, 0.76016) 69%, #000000 92.89%);
    color: white;
    box-sizing: border-box;
    text-align: center;
    justify-content:space-between;
    align-items: end;
    padding: 0px 14px 20px 4px ;
}

.card-container .book-info .book-data{
    display: flex;
    flex-direction: column;
    padding: 0 0 0 10px;
    box-sizing: border-box;
    width: 80%;
}

.card-container .book-info .book-data h1{
    font-size: 14px;
    font-weight: 100;
    text-align: left;
}

.card-container .book-info .book-data h2{
    font-size: 12px;
    text-align: left;
    font-weight: 200;
    margin: 0;
    color: #FF980E;
}

.card-container .book-info .unfilled-heart{
    color: #FF980E;
}

.card-container .book-info .filled-heart{
    color: #FF980E;
}